
<html>
  <body>
    <h1>Add book</h1>
    <form method="POST" action="{{url_for('query_page')}}">
      <input type="text" name="title">
      <input type="submit" value="Add">
    </form>

    <h1>Books</h1>
    <table>
      {% for table in all_tables %}
        <tr>
          <td>
            {{table.title}}
          </td>
          <td>
            <form method="POST" action="{{url_for('home')}}" style="display: inline">
              <input type="hidden" value="{{url_for('query_page')}}" name="">
              <input type="text" value="{{url_for('query_page')}}" name="">
              <input type="submit" value="Update">
            </form>
          </td>
<!--          <td>-->
<!--            <form method="POST" action="{{url_for('home')}}" style="display: inline">-->
<!--              <input type="hidden" value="{{'all_tables'}}" name="">-->
<!--              <input type="submit" value="Delete">-->
<!--            </form>-->
<!--          </td>-->
        </tr>
      {% endfor %}
    </table>
  </body>
</html>

